<%= render partial: "shared/nav" %>

<p>Edit Item</p>

<%= form_with model: @discount, method: :patch, url: merchant_discount_path(@merchant, @discount), local: true do |f| %>
  <%= f.label :percentage, "Percentage" %>
  <%= f.text_field :percentage, min: 0, max: 100, value: (@discount.percentage * 100) %><br/><br/>
  <%= f.label :quantity_threshold, "Quantity Threshold" %>
  <%= f.text_field :quantity_threshold %><br/><br/>
  <%= f.submit 'Submit'%>
<% end %>
